$primaryColor: #292669;
$primaryDark: #138bc3;
$primaryYellow: #fdfbf7;
$Gray: #fbfbff;
$GrayD: #b3b3b3;
$Pink: #ef3054;
$Green: #a1f3eb;
$Dark: #0c120c;

.bg-primary {
  background-color: $primaryColor;
}

.bg-primary-yellow {
  background-color: $primaryYellow;
}
.bg-primaryD {
  background-color: $primaryDark;
}
.bg-gray {
  background-color: $Gray;
}
.bg-grayD {
  background-color: $GrayD;
}
.border-primary {
  border-color: $primaryColor;
}
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
.ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
.text-primary {
  color: $primaryColor;
}
@mixin btn($bg, $color) {
  background-color: $bg;
  color: $color;
  padding: 10px 20px;
  transition: all 0.2s;
  &:hover {
    opacity: 0.8;
    transition: all 0.2s;
  }
}

.btn-primary {
  @include btn($primaryColor, white);
}

.btn-secondary {
  @include btn($GrayD, black);
}
.AiFillSetting {
  @include btn($primaryYellow, black);
}
.input_txt {
  border: 1px solid gray;
  padding: 0.7rem 1rem;
}
@mixin btn-outline($color, $border) {
  border: 1px solid $border;
  color: $color;
  padding: 10px 20px;
  transition: all 0.2s;
  &:hover {
    opacity: 0.8;
    transition: all 0.2s;
  }
}
.btn-outline-primary {
  @include btn-outline($primaryColor, $primaryColor);
  cursor: pointer;
}
.btn-outline-gray {
  @include btn-outline($GrayD, $GrayD);
  cursor: pointer;
}

.card {
  background-color: white;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.06);
  padding: 1rem;
}
body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(117, 136, 144);
  outline: 1px solid slategrey;
}

.line-clamp-10 {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.black {
  background-color: rgb(208, 216, 218);
}
.transparent {
  background-color: rgba(75, 74, 74, 0.3);
}
//  font family

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Twinkle+Star&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.font-openSansFour {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.font-openSansEight {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.font-openSansSeven {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.font-openSansSix {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
.font-openSansFive {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.font-openSansThree {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.font-MonteSerratFour {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.font-MonteSerratEight {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.font-MonteSerratSeven {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.font-MonteSerratSix {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.font-MonteSerratFive {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.font-MonteSerratThree {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

// fonts closed
